{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<div class="d-flex gap-3">
    <div class="d-flex gap-3">
        <h1>Hot Questions</h1>
        <h1><a href="{% url 'index' %}" style="font-size: 24px;">New Questions</a></h1>
    </div>
</div>
<div class="col-9">
    <div class="d-flex flex-column gap-3">
        {% for question in questions %}
        {% include 'layouts/question.html' %}
        {% endfor %}

        {% include 'layouts/pagination.html' %}

    </div>
</div>

{% endblock %}